/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2014, 3:09:22 PM
    Author     : Meku
*/

.ui-widget {
    font-size: 12px;
    position: relative; 
    float: left; 
    height: 90%; 
    width: 80%; 
    margin-top: 4px; 
    margin-left: 2px;
}