/* LAYOUT
----------------------------------------------------------*/
#page {
    width: 100%; 
    margin:0 auto;
    text-align:left;
}

#mainContainer {
    width: 100%;
    height: 100%;
}

#headerContainer {
    height: 100px;
    width: 100%;
     margin:0 auto;
    background: url(./images/bang.png);
}

#footer{
    position: relative;
    height: 20px;
    text-align: center;
    background-color: #065a73;
}

#top {
    border: solid #065a73 0.5px;
    border-radius: 8px 8px 0 0;


    position: relative;
    float: left;
    width: 100%;
    color: white;
    /*height: 100px;*/
    /*margin: 0 auto;*/
}

#bottom {
    position: relative;
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 30px;
    text-align: right;
    font-size:11px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    background-color: #065a73;
    color: white;
    border: solid #065a73 0.5px;
    border-radius: 0 0 8px 8px;
    padding: 2px;

}

#left {
    position: relative;
    float: left;
    width: 15%;
    height: 100%;
    min-height: 650px;

    background: url(../images/background.jpg)repeat-x;
    background-color: #5B87A4;
    font-family: Arial;
    
    box-shadow: -15px -15px 0 -15px rgba(0, 0, 0, 0.4),
        15px 0 15px -15px rgba(0, 0, 0, 0.6);
    
     border-color: #86bae9;

}

#right_content{
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
    min-height: 650px;


    border: 2px solid #AFAFAF; 
    color: #000000;  
    background-color: white;
    font-family: Arial;
}

.clear_both {
    clear: both;
}

.content {
    position: relative;
    float: right;
    width: 85%;
    margin: 0 auto;
    height: 100%;

    border: 2px solid #AFAFAF; 
    background-color: white;
    font-family: Arial;
}
.left-menu {
    position: relative;
    float: left;
    width: 15%;
    margin: 0 auto;
    height: 100%;

    border: 2px solid #AFAFAF; 
    background-color: white;
    font-family: Arial;
}
#headerTop {

    border-radius: 8px 8px 0 0;
    padding-right: 8px;
    background-color: #0070BA;


    height:60px;
    text-align: right;
    font-size:11px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

#headerTop a{
    margin-right: 5px;
    margin-left: 5px;
    color: #ffffff;
}

#headerTop a:active{
    color: #ff6666;
}

#headerTop a:hover{
    color: #ccccff;
}

#logo {
    position: relative;
    float: left;
    height: auto;
    width: 18%;
    margin: auto;
}


#logo img {
    margin-left: 5px;
    margin-top: 5px;
    padding: auto;
    height: 30%;
    width: 30%;
    left: 0px;
    float: left;
}

#app{
    /*border: solid 1px #000EDA;*/
    text-align: center;
    vertical-align: baseline;
    font-size: 30px;

    width: 90%;
    background-color: #F2F2F2 ;
    overflow: hidden ;
    color: black;
    height: 100%;  
    /*font-size: 20px;*/
    font-family: Verdana,sans-serif;
}

body {
    font-size: 11px;
    font-family: lucida,grande,tahoma,verdana,arial,sans-serif;
    color: #000000;  
    background-color: white;
    /* background:  url(../images/bg1.png);*/
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}




/* MENU
----------------------------------------------------------*/
#menuContainerTop{
    width: 100%;
    height: 20px;
}

#emptyContent_TopMenuLeft {
    position: relative;
    float: left;
    width: 20%;
    height: 20px;
    background: url(../images/bang.png);
    /*border: solid 1px #D20005;*/
}

#menuTop{
    position: relative;
    float: right;
    width: 80%;

    background: url(../images/bang.png);
    color:black;
    height: 20px;
    margin: auto;
}

#menu{
    background: url(../images/bang.png);
    color:black;
    height: 20px;

    margin: 0;
    padding: 0;
    /*    border: solid 1px #D20005;*/
}

#menu ul{
    display:block;
    height:20px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    list-style:none;
    margin:auto;
    padding: 0;
}

#menu ul li{
    display: inline;
}

#menu ul li a:hover{
    text-decoration: none;
    color:black;
    cursor:pointer;
    background-color: white;
    height:25px;

}

#menu ul li a{
    text-decoration: none;
    display:block;
    width:auto;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight:normal;
    line-height:20px;
    text-align:left;
    padding:0px 3px;    
}

#menu ul li ul{
    position: absolute;
    z-index:1000;
    padding:0px;
    margin:0px;
    border:0px;
    color:#000000;
    outline:black;
    display:none;
}

#menu ul li  ul li{
    display:block;
    float:none;
    margin:0 auto;
    padding:0px;
    width:200px ;
}

#menu li ul li a{
    background:#F8F8F8;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid #FAFAFA;
    color: black;
    display: block;
    padding:0px 10px 0px 15px;
    text-align:left;
}

#menu li ul li a:hover{
    text-decoration:underline;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid #FAFAFA;
    color:#0070BA;
    display: block;
    cursor:pointer;

}
#menu ul li:hover > ul{
    display:block;
}

.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;

    ////
    .left_content {
        background-color: white;
        padding: 5px;
        margin-left: -300px;
        font-family: Arial;
        height: 400px;
    }
    .text-input{
        font-family: 'Lucida Sans'; 
        font-size: 100%; 
        font-style: normal; 
        font-weight: lighter;  
        width: 164px;
    }
}

/*  MENU
----------------------------------------------------------*/
div#menuContainer{
    position:relative;
    padding:0px;
    top:0;
    width:800px;
    float: left;
}
div#menuContainer ul{
    /*    background: url(../resources/images/menu.png) repeat-x scroll left bottom #FFFFFF;
        border-bottom: 0 solid #FFFFFF;*/
    display:block;
    height:25px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    list-style:none;
    margin:0;
}
div#menuContainer ul li{
    float:left;
    display: inline;
}
div#menuContainer ul li a{
    text-decoration: none;
    display:inline;
    width:auto;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight:bold;
    line-height:25px;
    text-align:left;
    padding:0px 3px;
    border-left-color:white;
    border-left-width:0px;
    border-left-style:solid;
}
div#menuContainer ul li a:hover{
    text-decoration: none;
    background:url(../resources/images/menu_over.jpg);
    color:black;
    cursor:pointer;
}
div#menuContainer ul li a:active
{
    background-color: silver;
    text-decoration: none;
}

div#menuContainer ul li.selected a
{
    background-color: #ff9966;
    color: #000;
}
div#menuContainer ul li ul{
    position: absolute;
    background:none;
    z-index:2000;
    padding:0px;
    margin:0px;
    border:0px;
    color:#000000;
    outline:black;
    display:none;
}
div#menuContainer ul li  ul li{
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:225px;
}

div#menuContainer ul li:hover ul{
    display:block;
}






div#menuContainer li ul li a{
    background:#ffffcc;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid #FAFAFA;
    color: #33338C;
    display: block;
    padding:0px 10px 0px 15px;
    text-align:left;
}
div#menuContainer li ul li a:hover{
    text-decoration:underline;
    background: #FFFFFF;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid #FAFAFA;
    color:#0070BA;
    display: block;
    cursor:pointer;
}

.txtButton{
    height: 15px;
    background-color: #33338C;
    top: 50px;
    border: 0; 
    width: 15px
}
.search{
    background:  url(../resources/images/facetedSearch.png);
    border: none; 
}

.ui-icon-myCancel{
    /*background-image: url("#{resources['images/facetedSearch.png']}") !important;*/
    background-image:  url(../resources/images/facetedSearch.png) !important;
    border: none; 

    .ui-icon { 
        background-image: url("images/facetedSearch.png") !important;; 
    }

    .test{
        float: left;
    }
    .tabstyle{



        background:  #003168;
        border: 2px solid #AFAFAF; 
        color: #000000;  
        background-color: white;

    } 
    .tabstyle2{


        left: 100px;
        background:  #003168;
        border: 2px solid #AFAFAF; 
        color: #000000;  
        background-color: white;

    } 
    .datatableStyle{
        float: top;  
        width: 1000px; 
        left: 200px; 
        border:  #F2F2F2;

        top: 10px; 
        font-family: 'Lucida Sans'; 
        font-size: 11px;
        font-style: normal; 
        font-weight: lighter; 
        width: 50
    }


}
